.notice-write-space {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
}

.notice-write-area {
    position: absolute;
    justify-content: space-between;
    align-content: center;
    align-content: space-between;
}

/* 노티스 제목 입력란 */
.notice-title-write-area input {
    padding: 50px;
    width: 1200px;
    height: 5px;
    font-size: 20px;
    border: 0;
}

/* 노티스 타이틀 부분 */
.notice-title {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* 노티스 타이틀 입력 부분 */
.notice-title-write-area {
    padding-top: 10px;
}

.notice-text {
    padding: 30px;
}

/* 입력 폰트 부분 */
.notice-write-font {
    position: absolute;
    padding-left: 180px;
    padding-top: 40px;
    position: inherit;
    color: #000;
    font-family: Noto Sans KR;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* 내용 input 박스 부분 */
.text-write-area input {
    padding: 50px;
    width: 1200px;
    height: 300px;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
}

/* 내용 이라는 타이틀 부분 */
.notice-text-titile {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* 등록 버튼 부분 */
.notice-title-btn {
    padding-top: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

/* 글꼴 변경 아이콘 */
.notice-text-icons {
    padding-top: 20px;
    cursor: pointer;
}
