.up-bar {
    height: 90px;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(15px);
}

.up-bar-logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    fill: #d9d9d9;
    stroke-width: 1px;
    stroke: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0 5px 0 5px;
    margin: 1rem;
}

.up-bar-menu {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 0 5px 0 5px;
    margin: 1rem;
}

.up-bar-menu-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-content: space-between;
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 5px 0 5px;
}

.up-bar-menu-notice {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    color: #fff;
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 5px 0 5px;
}

.up-bar-menu-logout {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;
    color: #fff;
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 5px 0 5px;
    word-wrap: break-word;
    gap: 5px;
}

.up-bar-boundary-value {
    display: inline-flex;
    text-align: center;
    justify-content: flex-end;
    align-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 5px 0 5px;
    /* margin: 12px; */
    gap: 5px;
}

.bar-btn {
    align-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
}
