<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로그래밍 동아리, 프로JET</title>
    <!--<link rel="stylesheet" href="css/main/main.css" />-->
</head>
<body>
<main>
    <div class="background-image">
        <div class="center-box"></div>
        <div class="welcome-text">
            <h1>WELCOME_TO</h1>
            <p class="club-name">프로JET;</p>
            <p class="club-description">프로JET 동아리는 열정적인 프로그래머들이 모여 <br/>
                웹 개발의 세계를 탐험하는 곳입니다.<br/>
                함께 프로JET의 성공을 향해 날아가봐요!<br/></p>
            <div class="background-logo"></div>
        </div>
        <div class="login-buttons">
            <button class="login-button">Log_in;</button>
            <button class="signup-button">Sign-Up;</button>
        </div>
    </div>
</main>
</body>
</html>