<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>.COMSUPER5;</title>
    <link rel="stylesheet" href="css/notice/up-bar.css" />
    <link rel="stylesheet" href="css/notice/notice-list.css" />
    <link rel="stylesheet" href="css/notice/page-navi.css" />
</head>
<body>
<!-- 상단 바 영역 -->
<header>
    <div class="up-bar" alt="">
        <button class="bar-btn up-bar-logo">
            <img src="assets/up-bar-logo.svg" alt="" />
        </button>
        <div class="up-bar-menu" alt="">
            <button class="bar-btn up-bar-menu-board">
                <img src="assets/up-bar-menu-board.svg" alt="" />
            </button>
            <div class="up-bar-boundary-value" alt="">
                <img src="assets/up-bar-boundary-value.svg" />
            </div>
            <button class="bar-btn up-bar-menu-notice">
                <img src="assets/up-bar-menu-notice.svg" alt="" />
            </button>
            <div class="up-bar-boundary-value" alt="">
                <img src="assets/up-bar-boundary-value.svg" />
            </div>
            <button class="bar-btn up-bar-menu-logout">
                <img src="assets/up-bar-menu-logout.svg" alt="" />
            </button>
        </div>
    </div>
</header>

<!-- 메인 부분 -->
<main>
    <div class="notice-space" alt="">
        <div class="notice-font" alt="">
            <img src="assets/notice-font.svg" />
        </div>
        <div class="notice-search" alt="">
            <input type="text" name="notice-search_" value="" />
        </div>
    </div>
    <div class="notice-list-bar" alt="">
        <img src="assets/notice-list-bar.svg" />
    </div>
    <div class="notice-line" alt="">
        <li class="notice-line 01" alt="">
            <img src="assets/notice-line.svg" />
        </li>
        <li class="notice-line 02" alt="">
            <img src="assets/notice-line.svg" />
        </li>
        <li class="notice-line 03" alt="">
            <img src="assets/notice-line.svg" />
        </li>
        <li class="notice-line 04" alt="">
            <img src="assets/notice-line.svg" />
        </li>
        <li class="notice-line 05" alt="">
            <img src="assets/notice-line.svg" />
        </li>
        <li class="notice-line 06" alt="">
            <img src="assets/notice-line.svg" />
        </li>
        <div class="btn-write" alt="">
            <button class="btn-write_" alt="">
                <img src="assets/btn-write.svg" />
            </button>
        </div>
    </div>
</main>

<!-- footer 부분 페이지 네비게이션 -->
<footer class="page-navi" alt="">
    <div class="btn-page-navi" alt="">
        <button class="btn-arrow left" alt="">
            <img src="assets/page-navi-btn-arrow-left.svg" />
        </button>
        <button class="btn-arrow 01" alt="">
            <img src="assets/page-navi-btn-arrow-01.svg" />
        </button>
        <button class="btn-arrow 02" alt="">
            <img src="assets/page-navi-btn-arrow-02.svg" />
        </button>
        <button class="btn-arrow 03" alt="">
            <img src="assets/page-navi-btn-arrow-03.svg" />
        </button>
        <button class="btn-arrow 04" alt="">
            <img src="assets/page-navi-btn-arrow-04.svg" />
        </button>
        <button class="btn-arrow 05" alt="">
            <img src="assets/page-navi-btn-arrow-05.svg" />
        </button>
        <button class="btn-arrow 06" alt="">
            <img src="assets/page-navi-btn-arrow-right.svg" />
        </button>
    </div>
</footer>
</body>
<script src="assets/background_color.svg"></script>
</html>
