<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>.COMSUPER5;</title>
  <link rel="stylesheet" href="css/free/free-description.css" />
</head>

<!-- 헤더 영역-->
<body>
<header>
  <div class="logo">
    <img src="assets/Vector 1.svg" alt="Logo" />
    <img src="assets/Logo.svg" alt="Logo" />
  </div>
  <nav class="top-menu">
    <ul>
      <li class="top-menu__select">Board;</li>
      <li class="top-menu__common" id="top-menu__notice">Notice;</li>
      <li class="top-menu__common" id="top-menu__logout">Log_Out;</li>
    </ul>
  </nav>
</header>

<!-- 메인부분 시작 -->
<main>
  <div class="board">
    <h1>Board;</h1>
  </div>
  <div class="board-page">
    <div class="board-page__title">제목</div>
    <span id="post-title">제목입니다</span>
  </div>
  <div class="board-page">
    <div class="board-page__date">작성일자</div>
    <span id="post-date">2023-07-22</span>
  </div>
  <div class="board-page">
    <div class="board-page__user">글쓴이</div>
    <span id="post-author">김나박이</span>
  </div>
  <!-- 이미지 처리
     <div class="board-page__image">
    <img id="post-image" src="" alt="게시글 이미지" />
  </div> -->
  <div class="board-page__text">
    <div id="post-content">내용물을 입력했습니다.</div>
  </div>

  <!-- 수정내용 입력 박스
  <div class="board-modify-text-write" alt="">
    <input
      type="text"
      name="board-modify-text-write"
      value="수정 내용을 입력해주세요."
    />
  </div> -->
</main>

<footer>
  <div class="board-modify-btn__list">
    <button class="board-modify-btn" id="list-btn">목록</button>
    <button class="board-modify-btn" id="modify-btn">수정</button>
    <button class="board-modify-btn" id="delete-btn">삭제</button>
    <button class="board-modify-btn" id="write-btn">글쓰기</button>
  </div>
</footer>
<script src="./notice/notice-list.js"></script>
<script src="./main/main.js"></script>
<script src="./free/free-description.js"></script>
</body>
</html>
