/* 기본 스타일 리셋 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Noto Sans KR;
}

/* 헤더 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(16px);
    padding: 10px 20px;
    font-size: 22px;
    font-weight: bold;
    font-family: Noto Sans KR;
}

.logo img {
    max-height: 50px;
    cursor: pointer;
}

.top-menu ul {
    list-style: none;
}

.top-menu li {
    display: inline;
    margin-right: 20px;
}

.top-menu li:last-child {
    margin-right: 0;
}

.top-menu__select {
    color: #9440ff;
    cursor: pointer;
}

.top-menu__common {
    color: white;
    cursor: pointer;
}

/* 메인 게시판 */
main {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    padding: 30px;
    margin: 10px 10px 0px 10px;
    justify-content: space-between;
    background-color: rgba(200, 196, 196, 0.28);
}

label {
    display: block;
    font-weight: bold;
    font-size: 25px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.form-group2 {
    padding: 30px;
    margin: 0px 10px 10px 10px;
    justify-content: space-between;
    background-color: rgba(200, 196, 196, 0.28);
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    height: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="file"] {
    display: block;
}

button {
    padding: 10px 20px;
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #9440ff;
}
